.winprize{
    font-size: 14px;
    line-height: 20px;
    color: #2072E4;
    background: linear-gradient(90deg, #FFFFFF 0%, #E3EFFF 50.93%, #FFFFFF 101.85%);
    border-radius: 33px;
    text-align: center;
    font-family: 'robotomedium';
    font-weight: normal;
    padding: 8px 15px;
    max-width: 513px;
    width: auto;
    margin: 0 auto 20px;
}